body{
    margin: 0px;
    background-color: rgb(255, 255, 255);
}
main{
    max-width: 900px;
    margin: 20px 10px;
}
a:link{
    color: rgb(0, 0, 0);
}
a:visited{
    color: red;
}
a:hover{
    color: blue;
}
h1, h2{
    margin-top: 20px;
    text-align: center;
}
p{
    display: block;
    background-size: 7%;
    border-style: solid;
    border-width: 0.1cm;
    border-image: linear-gradient(to right, #55a8b3, #b94536) 1;
    background-color: rgb(158, 158, 158);
    word-spacing: 2px;
    line-height: 25px;
    max-width: 700px;
    margin: 20px 0;
    animation: reveal 0.8s ease-out forwards;
}
section {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.6s ease-out;
    margin-bottom: 40px;
}
  
section.show {
    opacity: 1;
    transform: translateY(0);
}
  
@keyframes reveal{
    from{
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
.dropdown{
    display: inline-block;
}
.dropdown button{
    background-color: hsl(0, 0%, 25%);
    color: white;
    border-style: outset;
    border-width: 5px;
    padding: 12px 14px;
    cursor: pointer;
}
.dropdown a{
    display: block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 5px 8px;
}
.dropdown .content{
    display: none;
    position: absolute;
    background-color: rgb(97, 97, 97);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.836);
}
.dropdown:hover .content{
    display: block;
}
.dropdown a:hover{
    background-color: rgb(179, 179, 179);
}
nav {
    display: flex;
    gap: 20px;
    padding: 15px 30px;
    background: black;
}
nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover {
    text-decoration: underline;
}
.navbar {
    max-width: 510px;
    margin: 0px;
    background-color: rgb(0, 0, 0);
}
.navbar ul{
    display: flex;
    justify-content: flex-start;
    list-style: none; 
    background-color: rgb(29, 29, 29);
    padding: 0px;
    margin: 0px;
    max-width: 900px;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px 25px;
    display: block;
    text-align: center;
    transition: background 0.3s;
}
.navbar a:hover{
    background-color: hsl(0, 0%, 32%);

} 

.quiz button {
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
}
.progress {
    width: 100%;
    max-width: 700px;
    height: 12px;
    background: #ddd;
    margin: 15px auto;
    border-radius: 6px;
    overflow: hidden;
}
  #progressBar {
    height: 100%;
    width: 0%;
    background: linear-gradient(to right, #44ac49, #16eb39);
    transition: width 0.4s ease;
}  
